


/* General properties*/

body {
font-size: 12px;
}



/*menu*/

nav {
  width: 100%;
  background-color:#e6e6fa;
  position: fixed;
  display: inline-block;
  top:0;
  /*fonts*/

}


nav ul li {
  display:inline-block;
}

#home {
  float: left;
}

#about {
  margin: 0 auto;
}

#contribute {
  float: right;
}


nav a {
  color:black;
  display:block;
  text-decoration: none;
  padding:20px 30px;
 }


/*this is the id which holds the content*/
/*
#viz {

  width:100%;
  max-height: 100vh;

  padding-top: 20px;
  /*fonts*/ /*
}*/

/*csv table styling*/


table {

border: 2px black solid;



}

td {
  border: 1px solid black;
  padding: 5px;
}
