
/*adding fonts here*/



@font-face {
  font-family: 'Jost';
  src: url('Jost-300-Light.otf'); /* IE9 Compat Modes */
}

/* General properties*/

body {
width: 100%;
overflow: hidden;
height: 100%;
font-family: Helvetica, Arial, serif;
}
/*menu*/


ul {


}


nav {
  width: 100%;
  position: fixed;
  display: inline-block;
  top:0;
  left: 0;
  background-color: none;
  background-color: white;
  font-family:'Jost', Helvetica, sans-serif;

  /*fonts*/
}


nav ul li {
display:inline-block;
}




#home {
  float: left;
  padding-left:20px;
}

#about {
  margin: 0 auto;
  padding-left:50px;
}

#contribute {
  float: right;
  padding-right:40px;
}


nav a {
  color:black;
  display:block;
  text-decoration: none;
  /*padding:20px 30px;*/
  font-size:1.75em;
 }

/*end menu*/


/*csv styling*/

#viz {
  overflow: scroll;
  height: 100vh;
  padding-top: 100px;
  width: 100%;

}


table {
  width: 80%;
  margin: 0 auto;
    padding-bottom: 200px;
    border-spacing: 0px;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;


  }
/*first row of the table*/

tr:first-child {
background-color: #efeef4;

  }


td {border: 1px solid; padding:10px;
}
