


/* General properties*/

body {
width: 100%;

}



/*menu*/

nav {
  width: 100%;
  background-color:white;
  /*position: fixed;
  display: inline-block;*/
  top:0;
  /*fonts*/

}


nav ul li {
  /*display:inline-block;*/
}
/*
#home {
  float: left;
}

#about {
  margin: 0 auto;
}

#contribute {
  float: right;
}
*/

nav a {
  color:black;
/*  display:block;*/
  text-decoration: none;
  padding:20px 30px;
 }

/*end menu*/


/*csv styling*/


table {border: 2px solid;}

td {border: 1px solid; padding: 5px;}
